body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 200px;
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif; /* Use Montserrat font for the title */
}

header h2 {
    font-size: 1.2rem; /* Adjust the font size */
    font-family: "Montserrat", sans-serif; /* Use Montserrat font for the subtitle */
    font-weight: normal;
    margin-top: 10px; /* Add a margin to the subtitle */
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px; /* Reduce the gap between grid items */
    padding: 0 20px; /* Reduce the horizontal padding */
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.grid-item img, .grid-item video {
    max-width: 100%;
    max-height: 100%;
}