body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 200px;
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 1.5rem;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    text-color: black,
}

header h2 {
    font-size: 2.5rem; 
    font-family: "Outfit", sans-serif; 
    font-weight: 600;
    margin-top: 10px; 
    padding-bottom: 20px;
    text-color: black,
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.grid-item img, .grid-item video {
    max-width: 100%;
    max-height: 100%;
}


.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display the menu items horizontally */
}

.menu li {
    margin-right: 20px; /* Add spacing between menu items */
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.menu li:hover {
    opacity: 1;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}

.menu a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the line's position */
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.menu a:hover:before {
    width: 100%;
}


#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    animation: spin 20s linear infinite;
    overflow: hidden; /* To hide overflowing content */
}

#grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    animation: spin 20s linear infinite;
    overflow: hidden; /* To hide overflowing content */
}

#info {
    background-color: white;
    padding: 20px;
    align-items: center;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-image {
    flex: 1;
    padding-right: 20px; /* Add some spacing between the image and text */
    max-width: 700px; /* Adjust the max-width as needed */
}

.info-image img {
    max-width: 100%;
    height: auto;
    display: block;
}


.info-image img {
    animation: floatAndRotate 5s ease-in-out infinite alternate;
}

@keyframes floatAndRotate {
    0%, 100% {
        transform: translate(0, 10px) rotate(-10deg);
    }
    50% {
        transform: translate(0, -10px) rotate(10deg);
    }
}

.info-text {
    flex: 0.5;
}

h2 {
    font-size: 24px; /* Set your desired font size for the header */
    margin-top: 0; /* Remove default margin for h2 */
}

#sphere {
    background-color: white;
    padding: 20px;
    text-align: center; /* Center the content horizontally */
}

#sphereCanvas {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    max-width: 100%; /* Ensure the canvas doesn't exceed its parent's width */
    height: auto; /* Maintain the aspect ratio and prevent overflow */
}

#sphere h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}

#hire {
    text-align: center;
    padding: 40px;
    background-color: white;
}

#hire h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30px;
    color: white;
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icons a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    margin-bottom: 30px;
}

.contact-icons img {
    width: 400px; /* Adjust the image size as needed */
}

.contact-icons p {
    margin-top: 10px;
    font-weight: bold;
}

.contact-icons a:hover {
    color: #7c00db; /* Change color on hover */
}

#social-media {
    text-align: center;
    padding: 40px;
}

h2 {
    font-size: 24px;
}

.video-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 60px; /* Corrected property */
}

.video-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex: 1; /* Distribute available space equally among controls */
}

button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
}

button:hover {
    color: #7c00db;
}

.video-player {
    flex: 3; /* Allow video to take up more space */
    text-align: center; /* Center the video horizontally */
}

iframe {
    width: 800px; /* Adjust the width to make the video bigger */
    height: 450px; /* Adjust the height to maintain the aspect ratio */
    max-width: 100%; /* Ensure the video doesn't exceed the container */
}

